@import '../../../../vars';

.about {
  padding-top: $offset-big;

  &__title {

    span {
      color: $color-accent;
    }
  }

  &__gallery {
    display: flex;
    gap: $offset-main;
  }

  &__galleryBox {
    display: flex;
    flex-direction: column;
    gap: $offset-main;

  }

  &__galleryBox_reverse {
    flex-direction: column-reverse;
  }

  &__galleryImg {
    border-radius: 20px;
    display: block;
    width: 100%;
  }

  &__galleryImg_Small {
    max-width: 660px;
    max-height: 430px;
  }

  &__galleryImg_Big {
    max-width: 660px;
    max-height: 590px;
  }

  @include desktop {
    &__wrapper {
      @include container;
    }

    &__title {
      margin-bottom: $offset-main;
      @include heading-2;
    }
  }

  @include tablet {
    &__wrapper {
      @include container-sm;
    }

    &__title {
      margin-bottom: $offset-main;
      @include heading-2-mobile;
    }
  }

  @include mobile {
    &__wrapper {
      @include container-sm;
    }

    &__title {
      margin-bottom: $offset-main;
      @include heading-2-mobile;
    }
  }
}