@import './../../vars';

.card {
  cursor: pointer;
  border-radius: 40px;
  max-width: 310px;
  border: 1px solid #C1B6AD;
  min-height: 500px;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
  }

  &__inner {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include heading-3;
    color: #403F3D;
    margin-bottom: 10px;
  }

  &__text {
    @include body-medium;
    color: #403F3D;
    flex: 1;
  }

  &__price {
    @include heading-3;
    color: #403F3D;
  }
}